adapter driver bcm2835gpio

bcm2835gpio peripheral_base 0xFE000000
bcm2835gpio speed_coeffs 236181 60

# GPIO 27 (Pin 13) = SWCLK
# GPIO 17 (Pin 11) = SWDIO
adapter gpio swclk 27
adapter gpio swdio 17
adapter gpio srst 22
reset_config srst_only srst_nogate

adapter speed 500
transport select swd


